@use './partials' as *;

* {
  box-sizing: border-box;
  color: $color-white;
  font-family: $font-family-ubuntu-condensed;
  margin: 0;
  padding: 0;
}

body {
  background-color: $color-dark-gray;
}

h1 {
  font-size: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

p,
a {
  font-size: 22px;
  font-weight: 400;
}

a {
  text-decoration: none;
}
