@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: normal;
  src: url('/fonts/roboto-mono.ttf');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto Mono';
  font-style: italic;
  src: url('/fonts/roboto-mono-italic.ttf');
}

$font-family-roboto-mono: 'Roboto Mono', monospace;
